<nav class="nav-links">
  <h3>
    <p><a href="{{ url_for('wo_current') }}">Open Work Orders</a></p>
    <p><a href="{{ url_for('wo_create') }}">Create Work Order</a></p>
    <p><a href="{{ url_for('wo_completed') }}">Completed Work Orders</a></p>
    <p><a href="{{ url_for('user_profile') }}">User Profile</a></p>
    {% if current_effective_perm == 2 %}
      <p><a href="{{ url_for('admin_users') }}">Admin Users</a></p>
    {% endif %}
    <p><a href="{{ url_for('user_logout') }}">Logout</a></p>
  </h3>
</nav>
<p></p>
